$contact-input-width: 80%;

.contact {
  border: 1px solid indigo;
  display: flex;
  flex-direction: row;
  padding: 5% 0px;
}

.contact-img-container {
  flex: 1 1;
  display: flex;
  justify-content: center;
}

.contact-form {
  flex: 1 1;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-img {
  max-width: 45%;
  height: auto;
}

.input {
  width: $contact-input-width;
  height: 3em;
  padding: 7px 15px;
  font-family: "Roboto Mono", monospace;
  border: 1px solid indigo;
  border-radius: 5px;
  color: indigo;
  box-sizing: border-box;

  &:focus {
    outline-color: indigo;
  }
}

.message {
  height: 5rem;
}

.send-button {
  width: $contact-input-width;
  font-family: "Roboto Mono", monospace;
  padding: 7px 15px;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid indigo;
  background-color: white;
  color: indigo;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  background-size: 200% 200%;
  transition: background-position 250ms;
  background-image: linear-gradient(to top, indigo 50%, white 0);
  background-position: top;

  &:hover {
    color: white;
    background-color: indigo;
    background-position: bottom;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .contact {
    flex-direction: column-reverse;
  }

  .contact-img {
    max-width: 50%;
    height: auto;
  }

  .contact-form {
    margin-top: 50px;
  }

}

@media (max-width: 767px) {

  .contact {
    flex-direction: column-reverse;
  }

  .contact-img {
    max-width: 50%;
    height: auto;
  }

  .contact-form {
    margin-top: 20px;
  }

  .input {
    width: 100%;
  }

  .send-button {
    width: 100%;
  }

}


